@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* ต่อมาคุณสามารถใช้ฟอนต์ Sriracha ใน CSS ได้เหมือนเป็นฟอนต์ปกติ */
:root {
  font-family: 'Sriracha', cursive;
}
.custom-text-shadow {
  text-shadow: 6px 10px 6px rgba(73, 69, 74, 0.85);
}

.custom-box-shadow{
  box-shadow: 6px 10 5px 6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 10 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10 6px 0px rgba(0,0,0,0.75);
}
